<div class="modal-back is-hidden" data-modal>
        <div class="modal-body">
            <div class="modal-cont">
                <p class="title">Ви збираєтесь покинути завершити тест.
                    Хочете закінчити тест?
                </p>
                <ul class="btnsfinish_list">
                    <li><button type="button" class="btnsfinish_list_item" data-modal-close>НІ</button></li>
                    <li><button type="button" class="btnsfinish_list_item danger"><a href="./end_page.html">ТАК</a></button></li>
                </ul>
            </div>
        </div>
</div>