<header>
    <div class="cont">
        <div class="nav-menu_head">
            <div class="nav-menu_head_cont">
           <button class="main-btn">
                <a class="main-btn_a" href="./index.html">
                    <svg class="main-bt-svg">
                        <use href="./icomoon/SVG/logo.svg#logo"></use>
                    </svg>
                </a>
           </button>
            </div>
        </div>
        <ul class="fast_nav">
            <li class="fast_nav_item">Існуючі тести /</li>
            <li class="fast_nav_item">Існуючі тести /</li>
            <li class="fast_nav_item active">Існуючі тести</li>
        </ul>
    </div>
</header>