<section class="question">
    <div class="cont">
        <div class="quest_content">
            <p class="quest"><span>2.</span>Які виклики стоять перед сучасною наукою у розв'язанні глобальних проблем?</p>
                <ul class="answ_list">
                    <li class="answ_list_item">
                        <label for="answerA" class="few labl">
                          <svg class="quest_svg">
                            <use href="./icomoon/SVG/multiun.svg#multiun"></use>
                          </svg>
                          <p class="ans">Відповідь А</p>
                        </label>
                        <input type="radio" name="answer" id="answerA" class="hid">
                      </li>
                      <li class="answ_list_item">
                        <label for="answerA" class="few labl">
                          <svg class="quest_svg">
                            <use href="./icomoon/SVG/multiun.svg#multiun"></use>
                          </svg>
                          <p class="ans">Відповідь А</p>
                        </label>
                        <input type="radio" name="answer" id="answerA" class="hid">
                      </li>
                    <li class="answ_list_item">
                        <label for="answerA" class="few labl">
                          <svg class="quest_svg">
                            <use href="./icomoon/SVG/multiun.svg#multiun"></use>
                          </svg>
                          <p class="ans">Відповідь А</p>
                        </label>
                        <input type="radio" name="answer" id="answerA" class="hid">
                      </li>
                </ul>
                <svg class="un_use" id="new-svg"> 
                    <use href="./icomoon/SVG/multcheck.svg#multicheck"></use>
                </svg>
        </div>
        </div>
    </div>
</section>