<section class="question">
    <div class="cont">
        <div class="quest_content">
            <p class="quest"><span>2.</span>Які виклики стоять перед сучасною наукою у розв'язанні глобальних проблем?</p>
                <ul class="answ_list">
                    <li class="answ_list_item">
                        <svg class="quest_svg">
                            <use href="./icomoon/SVG/multiun.svg#multiun"></use>
                        </svg>
                        <p class="ans">Відповідь А</p>
                        
                    </li>
                    <li class="answ_list_item">
                        <svg class="quest_svg">
                            <use href="./icomoon/SVG/multiun.svg#multiun"></use>
                        </svg>
                        <p class="ans">Відповідь А</p>
                        
                    </li>
                    <li class="answ_list_item">
                        <svg class="quest_svg">
                            <use href="./icomoon/SVG/multiun.svg#multiun"></use>
                        </svg>
                        <p class="ans">Відповідь А</p>
                        
                    </li>
                </ul>
        </div>
        </div>
    </div>
</section>