<section class="question">
    <div class="cont">
        <div class="quest_content">
            <p class="quest"><span>1.</span>Які виклики стоять перед сучасною наукою у розв'язанні глобальних проблем?</p>
            <ul class="answ_list">
                <li class="answ_list_item">
                    <input type="radio" name="answer" id="answerA" class="hid">
                    <label for="answerA" class="labla">
                        <svg class="quest_svg" id="original-svga">
                            <use href="./icomoon/SVG/unpicked.svg#unpicked"></use>
                        </svg>
                        <p class="ans">Відповідь А</p>
                      </label>
                </li>
                <li class="answ_list_item">
                    <input type="radio" name="answer" id="answerB" class="hid">
                    <label for="answerB" class="labla">
                        <svg class="quest_svg" id="original-svga">
                            <use href="./icomoon/SVG/unpicked.svg#unpicked"></use>
                        </svg>
                        <p class="ans">Відповідь А</p>
                      </label>
                </li>
            </ul>
            <svg class="un_use" id="new-svga"> 
                <use href="./icomoon/SVG/picked.svg#picked"></use>
            </svg>
        </div>
    </div>
</section>